<div id="<%= dom_id earring %>" class="container">
  <p>
    <strong>Key:</strong>
    <%= earring.key_id %>
  </p>

  <p>
    <strong>Earring:</strong>
    <%= earring.earring %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= earring.status %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= earring.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= earring.gender %>
  </p>

</div>
