<tr>

  <td>
    <%= index %>
  </td>

  <td>
    <%= earring.key.num_key %>
  </td>

  <td>
    <%= earring.earring %>
  </td>

  <td>
    <%= earring.age %>
  </td>

  <td>
    <%= earring.gender %>
  </td>

  <td class="d-flex">
    <%= link_to(earring, class: "btn btn-sm me-2 btn-primary" ) do %>
      <i class="fa-solid fa-eye text-white"></i>
      <% end %>
      <%= button_to(earring, method: :delete, data: { confirm: '¿Está seguro de eliminar la institución?' },
          class: "btn btn-danger btn-sm" ) do %><i class="fa-solid fa-trash"></i>
      <% end %>
  </td>

</tr>