<p style="color: green">
  <%= notice %>
</p>

<div class="container">
  <div class="card">
    <div class="card-header bg-dark d-flex justify-content-between align-items-center">
      <%= link_to "Atras" , earrings_path, class: "btn btn-secondary" %>
      <h1 class="text-white text-center mx-auto">Datos de <%= @earring.earring %></h1>
      <%= link_to "Editar Arete", edit_earring_path(@earring), class: 'btn btn-success' %>
    </div>
    
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-md-8">
          <div class="card shadow-sm h-100">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between">
                <strong>Clave:</strong> <span><%= @earring.key.num_key %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <strong>Arete:</strong> <span><%= @earring.earring %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <strong>Status:</strong> <span><%= t("activerecord.enums.earring.status.#{@earring.status}") %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <strong>Edad:</strong> <span><%= @earring.age %> meses</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <strong>Sexo:</strong> <span><%= t("activerecord.enums.earring.gender.#{@earring.gender}") %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-body h-100">
            <div class="image-container">
              <%= image_tag "/arete.png", alt: "Imagen", class: "base-image" %>
              <svg viewBox="0 0 200 200" class="overlay-text" xmlns="http://www.w3.org/2000/svg">
                <text x="15%" y="18%" font-size="20" text-anchor="start" fill="black" font-weight="bold"><%= @earring.key.num_key[0..1] %></text>
                <text x="82%" y="18%" font-size="20" text-anchor="end" fill="black" font-weight="bold"><%= @earring.key.num_key[1..4] %></text>
                <text x="50%" y="57%" font-size="60" text-anchor="middle" fill="black" font-weight="bold"><%= @earring.earring %></text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="row px-3">
         <div class="card card-body">
            <div class="d-flex justify-content-center">   
              <% if @earring.photo.present? %>
                <%= image_tag @earring.photo, class: "rounded img-fluid", width: "400" %>
              <% else %>
                <p> <strong> Sin fotografía </strong></p>
              <% end %>     
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h1 class="modal-title fs-5  text-white" id="staticBackdropLabel">Agregar Nuevo Arete</h1>
        <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <%= render "form", earring: @earring %>
    </div>
  </div>
</div>  