<%= form_with(model: key) do |form| %>
  <% if key.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
        <% key.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container col-8 card align-content-center p-0 mb-4">
  <div class="card-header bg-dark">
    <h3 class="text-center text-white">Información de la Clave</h3>
  </div>
  <div class="card-body">
  <div>
    <%= form.label :num_key, class: "form-label" , value:"Número de clave" %>
    <%= form.text_field :num_key, class: "form-control" %>
  </div>
  
  <div>
    <%= form.label :upp, class: "form-label mt-2" , value:"Clave UPP" %>
    <%= form.text_field :upp, class: "form-control", value:"16047345" %>
  </div>

  <div class="mt-2 align-content-end">
    <%= link_to "Cancelar", keys_path, class: "btn btn-danger" %>
    <%= form.submit "Guardar", class: "btn btn-success" %>
  </div>
  <% end %>
</div>
</div>